img {
    max-width: 100%;
    height: auto;
}

h1.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
}
ul {
    font-size: xx-large;
    font-family:"Monotype Corsiva", "Ink Free", cursive;
}